html,body {
    
}

.row {
    margin-top:3em;
    padding:5em;
}

.img-fluid {
    padding-top:5em;
    padding-left:0.4em;
    padding-right:0.4em;
}

#time {
    text-align:center;
    padding-top:5em;
}

#venue {
    text-align:center;
}

#prog {
    text-align:center;
    padding-top:5em;
}